# Frontend
frontend/node_modules
frontend/.next
frontend/out

# Backend
backend/.venv
backend/__pycache__
backend/**/__pycache__
backend/.env

# ML
ml/.venv
ml/**/__pycache__
ml/*.pt
ml/*.h5

# General
.DS_Store
*.log
.env
.env.local
